

<!DOCTYPE html>
<html class="writer-html4" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Loading Resources &mdash; Symfony Framework Documentation  documentation</title>
  

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/rtd_custom.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="The VarDumper Component" href="../var_dumper.html" />
    <link rel="prev" title="Metadata" href="metadata.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #f0f0f0" >
          

          
            <a href="../../index.html">
          

          
            
            <img src="../../_static/symfony-logo.svg" class="logo" alt="Logo"/>
          
          </a>

          
            
            
              <div class="version">
                4.4}
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../../quick_tour/index.html">The Quick Tour</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../getting_started/index.html">Getting Started</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../best_practices.html">The Symfony Framework Best Practices</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bundles.html">The Bundle System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cache.html">Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console.html">Console Commands</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../doctrine.html">Databases and the Doctrine ORM</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">How to Deploy a Symfony Application</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../email.html">Swift Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../event_dispatcher.html">Events and Event Listeners</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../forms.html">Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../frontend.html">Managing CSS and JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../http_cache.html">HTTP Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../http_client.html">HTTP Client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../lock.html">Dealing with Concurrency with Locks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../mailer.html">Sending Emails with Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../mercure.html">Pushing Data to Clients Using the Mercure Protocol</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../messenger.html">Messenger: Sync &amp; Queued Message Handling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../migration.html">Migrating an Existing Application to Symfony</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../performance.html">Performance</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../profiler.html">Profiler</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../session.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../setup.html">Installing &amp; Setting up the Symfony Framework</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../serializer.html">How to Use the Serializer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../service_container.html">Service Container</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../translation.html">Translations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../validation.html">Validation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../web_link.html">Asset Preloading and Resource Hints with HTTP/2 and WebLink</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../workflow.html">Workflow</a></li>
</ul>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">The Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../using_components.html">How to Install and Use the Symfony Components</a></li>
<li class="toctree-l2"><a class="reference internal" href="../asset.html">The Asset Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../browser_kit.html">The BrowserKit Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../cache.html">The Cache Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../config.html">The Config Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../console.html">The Console Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../contracts.html">The Contracts Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../css_selector.html">The CssSelector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../dependency_injection.html">The DependencyInjection Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../dom_crawler.html">The DomCrawler Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../event_dispatcher.html">The EventDispatcher Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../expression_language.html">The ExpressionLanguage Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../filesystem.html">The Filesystem Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../finder.html">The Finder Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../form.html">The Form Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../http_foundation.html">The HttpFoundation Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../http_kernel.html">The HttpKernel Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../inflector.html">The Inflector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../intl.html">The Intl Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../ldap.html">The Ldap Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../lock.html">The Lock Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../messenger.html">The Messenger Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../mime.html">The Mime Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../options_resolver.html">The OptionsResolver Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../phpunit_bridge.html">The PHPUnit Bridge</a></li>
<li class="toctree-l2"><a class="reference internal" href="../process.html">The Process Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../property_access.html">The PropertyAccess Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../property_info.html">The PropertyInfo Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../psr7.html">The PSR-7 Bridge</a></li>
<li class="toctree-l2"><a class="reference internal" href="../security.html">The Security Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../serializer.html">The Serializer Component</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../validator.html">The Validator Component</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../validator.html#installation">Installation</a></li>
<li class="toctree-l3"><a class="reference internal" href="../validator.html#usage">Usage</a></li>
<li class="toctree-l3"><a class="reference internal" href="../validator.html#retrieving-a-validator-instance">Retrieving a Validator Instance</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="../validator.html#learn-more">Learn More</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="metadata.html">Metadata</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">Loading Resources</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../validation.html">Validation</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../validation/custom_constraint.html">How to Create a Custom Validation Constraint</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../validation/groups.html">How to Apply only a Subset of all Your Validation Constraints (Validation Groups)</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../validation/raw_values.html">How to Validate Raw Values (Scalar Values and Arrays)</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../validation/sequence_provider.html">How to Sequentially Apply Validation Groups</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../validation/severity.html">How to Handle Different Error Levels</a></li>
<li class="toctree-l4"><a class="reference internal" href="../../validation/translations.html">How to Translate Validation Constraint Messages</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../var_dumper.html">The VarDumper Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../var_exporter.html">The VarExporter Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../workflow.html">The Workflow Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../yaml.html">The Yaml Component</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../reference/index.html">Reference Documents</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../contributing/index.html">Contributing</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../create_framework/index.html">Create your own PHP Framework</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">Symfony Framework Documentation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../index.html">The Components</a> &raquo;</li>
        
          <li><a href="../validator.html">The Validator Component</a> &raquo;</li>
        
      <li>Loading Resources</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/components/validator/resources.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="loading-resources">
<span id="index-0"></span><h1>Loading Resources<a class="headerlink" href="#loading-resources" title="Permalink to this headline">¶</a></h1>
<p>The Validator component uses metadata to validate a value. This metadata defines
how a class, array or any other value should be validated. When validating a
class, the metadata is defined by the class itself. When validating simple values,
the metadata must be passed to the validation methods.</p>
<p>Class metadata can be defined in a configuration file or in the class itself.
The Validator component collects that metadata using a set of loaders.</p>
<div class="admonition seealso">
<p class="first admonition-title">See also</p>
<p class="last">You’ll learn how to define the metadata in <a class="reference internal" href="metadata.html"><span class="doc">Metadata</span></a>.</p>
</div>
<div class="section" id="the-staticmethodloader">
<h2>The StaticMethodLoader<a class="headerlink" href="#the-staticmethodloader" title="Permalink to this headline">¶</a></h2>
<p>The most basic loader is the
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Mapping/Loader/StaticMethodLoader.php" title="Symfony\Component\Validator\Mapping\Loader\StaticMethodLoader"><span class="pre">StaticMethodLoader</span></a></code>.
This loader gets the metadata by calling a static method of the class. The name
of the method is configured using the
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::addMethodMapping()"><span class="pre">addMethodMapping()</span></a></code>
method of the validator builder:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Validation</span><span class="p">;</span>

<span class="nv">$validator</span> <span class="o">=</span> <span class="nx">Validation</span><span class="o">::</span><span class="na">createValidatorBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">addMethodMapping</span><span class="p">(</span><span class="s1">&#39;loadValidatorMetadata&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getValidator</span><span class="p">();</span>
</pre></div>
</div>
<p>In this example, the validation metadata is retrieved executing the
<code class="docutils literal notranslate"><span class="pre">loadValidatorMetadata()</span></code> method of the class:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints</span> <span class="k">as</span> <span class="nx">Assert</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Validator\Mapping\ClassMetadata</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">User</span>
<span class="p">{</span>
    <span class="k">protected</span> <span class="nv">$name</span><span class="p">;</span>

    <span class="k">public</span> <span class="k">static</span> <span class="k">function</span> <span class="nf">loadValidatorMetadata</span><span class="p">(</span><span class="nx">ClassMetadata</span> <span class="nv">$metadata</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$metadata</span><span class="o">-&gt;</span><span class="na">addPropertyConstraint</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Assert\NotBlank</span><span class="p">());</span>
        <span class="nv">$metadata</span><span class="o">-&gt;</span><span class="na">addPropertyConstraint</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Assert\Length</span><span class="p">([</span>
            <span class="s1">&#39;min&#39;</span> <span class="o">=&gt;</span> <span class="mi">5</span><span class="p">,</span>
            <span class="s1">&#39;max&#39;</span> <span class="o">=&gt;</span> <span class="mi">20</span><span class="p">,</span>
        <span class="p">]));</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">Instead of calling <code class="docutils literal notranslate"><span class="pre">addMethodMapping()</span></code> multiple times to add several
method names, you can also use
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::addMethodMappings()"><span class="pre">addMethodMappings()</span></a></code>
to set an array of supported method names.</p>
</div>
</div>
<div class="section" id="the-file-loaders">
<h2>The File Loaders<a class="headerlink" href="#the-file-loaders" title="Permalink to this headline">¶</a></h2>
<p>The component also provides two file loaders, one to load YAML files and one to
load XML files. Use
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::addYamlMapping()"><span class="pre">addYamlMapping()</span></a></code> or
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::addXmlMapping()"><span class="pre">addXmlMapping()</span></a></code> to
configure the locations of these files:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Validation</span><span class="p">;</span>

<span class="nv">$validator</span> <span class="o">=</span> <span class="nx">Validation</span><span class="o">::</span><span class="na">createValidatorBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">addYamlMapping</span><span class="p">(</span><span class="s1">&#39;validator/validation.yaml&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getValidator</span><span class="p">();</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you want to load YAML mapping files then you will also need to install
<a class="reference internal" href="../yaml.html"><span class="doc">the Yaml component</span></a>.</p>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">Just like with the method mappings, you can also use
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::addYamlMappings()"><span class="pre">addYamlMappings()</span></a></code> and
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::addXmlMappings()"><span class="pre">addXmlMappings()</span></a></code>
to configure an array of file paths.</p>
</div>
</div>
<div class="section" id="the-annotationloader">
<h2>The AnnotationLoader<a class="headerlink" href="#the-annotationloader" title="Permalink to this headline">¶</a></h2>
<p>At last, the component provides an
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Mapping/Loader/AnnotationLoader.php" title="Symfony\Component\Validator\Mapping\Loader\AnnotationLoader"><span class="pre">AnnotationLoader</span></a></code> to get
the metadata from the annotations of the class. Annotations are defined as <code class="docutils literal notranslate"><span class="pre">&#64;</span></code>
prefixed classes included in doc block comments (<code class="docutils literal notranslate"><span class="pre">/**</span> <span class="pre">...</span> <span class="pre">*/</span></code>). For example:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints</span> <span class="k">as</span> <span class="nx">Assert</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="k">class</span> <span class="nc">User</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * @Assert\NotBlank</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="nv">$name</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>To enable the annotation loader, call the
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::enableAnnotationMapping()"><span class="pre">enableAnnotationMapping()</span></a></code>
method. It takes an optional annotation reader instance, which defaults to
<code class="docutils literal notranslate"><span class="pre">Doctrine\Common\Annotations\AnnotationReader</span></code>:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Validation</span><span class="p">;</span>

<span class="nv">$validator</span> <span class="o">=</span> <span class="nx">Validation</span><span class="o">::</span><span class="na">createValidatorBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">enableAnnotationMapping</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">getValidator</span><span class="p">();</span>
</pre></div>
</div>
<p>To disable the annotation loader after it was enabled, call
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::disableAnnotationMapping()"><span class="pre">disableAnnotationMapping()</span></a></code>.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">In order to use the annotation loader, you should have installed the
<code class="docutils literal notranslate"><span class="pre">doctrine/annotations</span></code> and <code class="docutils literal notranslate"><span class="pre">doctrine/cache</span></code> packages with Composer.</p>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>Annotation classes aren’t loaded automatically, so you must load them
using a class loader like this:</p>
<div class="last highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Composer\Autoload\ClassLoader</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Doctrine\Common\Annotations\AnnotationRegistry</span><span class="p">;</span>

<span class="sd">/** @var ClassLoader $loader */</span>
<span class="nv">$loader</span> <span class="o">=</span> <span class="k">require</span> <span class="no">__DIR__</span><span class="o">.</span><span class="s1">&#39;/../vendor/autoload.php&#39;</span><span class="p">;</span>

<span class="nx">AnnotationRegistry</span><span class="o">::</span><span class="na">registerLoader</span><span class="p">([</span><span class="nv">$loader</span><span class="p">,</span> <span class="s1">&#39;loadClass&#39;</span><span class="p">]);</span>

<span class="k">return</span> <span class="nv">$loader</span><span class="p">;</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="using-multiple-loaders">
<h2>Using Multiple Loaders<a class="headerlink" href="#using-multiple-loaders" title="Permalink to this headline">¶</a></h2>
<p>The component provides a
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Mapping/Loader/LoaderChain.php" title="Symfony\Component\Validator\Mapping\Loader\LoaderChain"><span class="pre">LoaderChain</span></a></code> class to
execute several loaders sequentially in the same order they were defined:</p>
<p>The <code class="docutils literal notranslate"><span class="pre">ValidatorBuilder</span></code> will already take care of this when you configure
multiple mappings:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Validation</span><span class="p">;</span>

<span class="nv">$validator</span> <span class="o">=</span> <span class="nx">Validation</span><span class="o">::</span><span class="na">createValidatorBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">enableAnnotationMapping</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">addMethodMapping</span><span class="p">(</span><span class="s1">&#39;loadValidatorMetadata&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">addXmlMapping</span><span class="p">(</span><span class="s1">&#39;validator/validation.xml&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getValidator</span><span class="p">();</span>
</pre></div>
</div>
</div>
<div class="section" id="caching">
<h2>Caching<a class="headerlink" href="#caching" title="Permalink to this headline">¶</a></h2>
<p>Using many loaders to load metadata from different places is convenient, but it
can slow down your application because each file needs to be parsed, validated
and converted into a <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Mapping/ClassMetadata.php" title="Symfony\Component\Validator\Mapping\ClassMetadata"><span class="pre">ClassMetadata</span></a></code>
instance.</p>
<p>To solve this problem, call the <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::setMappingCache()"><span class="pre">setMappingCache()</span></a></code>
method of the Validator builder and pass your own caching class (which must
implement the PSR-6 interface <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Psr/Cache/CacheItemPoolInterface.php" title="Psr\Cache\CacheItemPoolInterface"><span class="pre">CacheItemPoolInterface</span></a></code>):</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Validation</span><span class="p">;</span>

<span class="nv">$validator</span> <span class="o">=</span> <span class="nx">Validation</span><span class="o">::</span><span class="na">createValidatorBuilder</span><span class="p">()</span>
    <span class="c1">// ... add loaders</span>
    <span class="o">-&gt;</span><span class="na">setMappingCache</span><span class="p">(</span><span class="k">new</span> <span class="nx">SomePsr6Cache</span><span class="p">());</span>
    <span class="o">-&gt;</span><span class="na">getValidator</span><span class="p">();</span>
</pre></div>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 4.4: </span>Support for PSR-6 compatible mapping caches was introduced in Symfony 4.4.</p>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The loaders already use a singleton load mechanism. That means that the
loaders will only load and parse a file once and put that in a property,
which will then be used the next time it is asked for metadata. However,
the Validator still needs to merge all metadata of one class from every
loader when it is requested.</p>
</div>
</div>
<div class="section" id="using-a-custom-metadatafactory">
<h2>Using a Custom MetadataFactory<a class="headerlink" href="#using-a-custom-metadatafactory" title="Permalink to this headline">¶</a></h2>
<p>All the loaders and the cache are passed to an instance of
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Mapping/Factory/LazyLoadingMetadataFactory.php" title="Symfony\Component\Validator\Mapping\Factory\LazyLoadingMetadataFactory"><span class="pre">LazyLoadingMetadataFactory</span></a></code>.
This class is responsible for creating a <code class="docutils literal notranslate"><span class="pre">ClassMetadata</span></code> instance from all the
configured resources.</p>
<p>You can also use a custom metadata factory implementation by creating a class
which implements
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/Mapping/Factory/MetadataFactoryInterface.php" title="Symfony\Component\Validator\Mapping\Factory\MetadataFactoryInterface"><span class="pre">MetadataFactoryInterface</span></a></code>.
You can set this custom implementation using
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Validator/ValidatorBuilder.php" title="Symfony\Component\Validator\ValidatorBuilder::setMetadataFactory()"><span class="pre">setMetadataFactory()</span></a></code>:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Acme\Validation\CustomMetadataFactory</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Validator\Validation</span><span class="p">;</span>

<span class="nv">$validator</span> <span class="o">=</span> <span class="nx">Validation</span><span class="o">::</span><span class="na">createValidatorBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">setMetadataFactory</span><span class="p">(</span><span class="k">new</span> <span class="nx">CustomMetadataFactory</span><span class="p">(</span><span class="o">...</span><span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">getValidator</span><span class="p">();</span>
</pre></div>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">Since you are using a custom metadata factory, you can’t configure loaders
and caches using the <code class="docutils literal notranslate"><span class="pre">add*Mapping()</span></code> methods anymore. You now have to
inject them into your custom metadata factory yourself.</p>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2004-2020 Fabien Potencier

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>