

<!DOCTYPE html>
<html class="writer-html4" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>The Ldap Component &mdash; Symfony Framework Documentation  documentation</title>
  

  
  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../_static/rtd_custom.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
        <script type="text/javascript" src="../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="The Lock Component" href="lock.html" />
    <link rel="prev" title="The Intl Component" href="intl.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #f0f0f0" >
          

          
            <a href="../index.html">
          

          
            
            <img src="../_static/symfony-logo.svg" class="logo" alt="Logo"/>
          
          </a>

          
            
            
              <div class="version">
                4.4}
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../quick_tour/index.html">The Quick Tour</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../getting_started/index.html">Getting Started</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../best_practices.html">The Symfony Framework Best Practices</a></li>
<li class="toctree-l1"><a class="reference internal" href="../bundles.html">The Bundle System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cache.html">Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../console.html">Console Commands</a></li>
<li class="toctree-l1"><a class="reference internal" href="../doctrine.html">Databases and the Doctrine ORM</a></li>
<li class="toctree-l1"><a class="reference internal" href="../deployment.html">How to Deploy a Symfony Application</a></li>
<li class="toctree-l1"><a class="reference internal" href="../email.html">Swift Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../event_dispatcher.html">Events and Event Listeners</a></li>
<li class="toctree-l1"><a class="reference internal" href="../forms.html">Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="../frontend.html">Managing CSS and JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../http_cache.html">HTTP Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../http_client.html">HTTP Client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../lock.html">Dealing with Concurrency with Locks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../mailer.html">Sending Emails with Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../mercure.html">Pushing Data to Clients Using the Mercure Protocol</a></li>
<li class="toctree-l1"><a class="reference internal" href="../messenger.html">Messenger: Sync &amp; Queued Message Handling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../migration.html">Migrating an Existing Application to Symfony</a></li>
<li class="toctree-l1"><a class="reference internal" href="../performance.html">Performance</a></li>
<li class="toctree-l1"><a class="reference internal" href="../profiler.html">Profiler</a></li>
<li class="toctree-l1"><a class="reference internal" href="../routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../session.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../setup.html">Installing &amp; Setting up the Symfony Framework</a></li>
<li class="toctree-l1"><a class="reference internal" href="../serializer.html">How to Use the Serializer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../service_container.html">Service Container</a></li>
<li class="toctree-l1"><a class="reference internal" href="../testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../translation.html">Translations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../validation.html">Validation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../web_link.html">Asset Preloading and Resource Hints with HTTP/2 and WebLink</a></li>
<li class="toctree-l1"><a class="reference internal" href="../workflow.html">Workflow</a></li>
</ul>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="index.html">The Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="using_components.html">How to Install and Use the Symfony Components</a></li>
<li class="toctree-l2"><a class="reference internal" href="asset.html">The Asset Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="browser_kit.html">The BrowserKit Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="cache.html">The Cache Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="config.html">The Config Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="console.html">The Console Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="contracts.html">The Contracts Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="css_selector.html">The CssSelector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="dependency_injection.html">The DependencyInjection Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="dom_crawler.html">The DomCrawler Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="event_dispatcher.html">The EventDispatcher Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="expression_language.html">The ExpressionLanguage Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="filesystem.html">The Filesystem Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="finder.html">The Finder Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="form.html">The Form Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="http_foundation.html">The HttpFoundation Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="http_kernel.html">The HttpKernel Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="inflector.html">The Inflector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="intl.html">The Intl Component</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">The Ldap Component</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#installation">Installation</a></li>
<li class="toctree-l3"><a class="reference internal" href="#usage">Usage</a></li>
<li class="toctree-l3"><a class="reference internal" href="#creating-or-updating-entries">Creating or Updating Entries</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#batch-updating">Batch Updating</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="lock.html">The Lock Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="messenger.html">The Messenger Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="mime.html">The Mime Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="options_resolver.html">The OptionsResolver Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="phpunit_bridge.html">The PHPUnit Bridge</a></li>
<li class="toctree-l2"><a class="reference internal" href="process.html">The Process Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="property_access.html">The PropertyAccess Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="property_info.html">The PropertyInfo Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="psr7.html">The PSR-7 Bridge</a></li>
<li class="toctree-l2"><a class="reference internal" href="security.html">The Security Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="serializer.html">The Serializer Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="validator.html">The Validator Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="var_dumper.html">The VarDumper Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="var_exporter.html">The VarExporter Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="workflow.html">The Workflow Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="yaml.html">The Yaml Component</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../reference/index.html">Reference Documents</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../contributing/index.html">Contributing</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../create_framework/index.html">Create your own PHP Framework</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">Symfony Framework Documentation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="index.html">The Components</a> &raquo;</li>
        
      <li>The Ldap Component</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/ldap.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="the-ldap-component">
<span id="index-0"></span><h1>The Ldap Component<a class="headerlink" href="#the-ldap-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Ldap component provides a means to connect to an LDAP server (OpenLDAP or Active Directory).</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<div class="highlight-terminal notranslate"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="gp">$</span> composer require symfony/ldap
</pre></div>
</td></tr></table></div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you install this component outside of a Symfony application, you must
require the <code class="docutils literal notranslate"><span class="pre">vendor/autoload.php</span></code> file in your code to enable the class
autoloading mechanism provided by Composer. Read
<a class="reference internal" href="using_components.html"><span class="doc">this article</span></a> for more details.</p>
</div>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Ldap/Ldap.php" title="Symfony\Component\Ldap\Ldap"><span class="pre">Ldap</span></a></code> class provides methods to authenticate
and query against an LDAP server.</p>
<p>The <code class="docutils literal notranslate"><span class="pre">Ldap</span></code> class uses an <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Ldap/Adapter/AdapterInterface.php" title="Symfony\Component\Ldap\Adapter\AdapterInterface"><span class="pre">AdapterInterface</span></a></code>
to communicate with an LDAP server. The <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Ldap/Adapter/ExtLdap/Adapter.php" title="Symfony\Component\Ldap\Adapter\ExtLdap\Adapter"><span class="pre">adapter</span></a></code>
for PHP’s built-in LDAP extension, for example, can be configured using the
following options:</p>
<dl class="docutils">
<dt><code class="docutils literal notranslate"><span class="pre">host</span></code></dt>
<dd>IP or hostname of the LDAP server</dd>
<dt><code class="docutils literal notranslate"><span class="pre">port</span></code></dt>
<dd>Port used to access the LDAP server</dd>
<dt><code class="docutils literal notranslate"><span class="pre">version</span></code></dt>
<dd>The version of the LDAP protocol to use</dd>
<dt><code class="docutils literal notranslate"><span class="pre">encryption</span></code></dt>
<dd>The encryption protocol: <code class="docutils literal notranslate"><span class="pre">ssl</span></code>, <code class="docutils literal notranslate"><span class="pre">tls</span></code> or <code class="docutils literal notranslate"><span class="pre">none</span></code> (default)</dd>
<dt><code class="docutils literal notranslate"><span class="pre">connection_string</span></code></dt>
<dd>You may use this option instead of <code class="docutils literal notranslate"><span class="pre">host</span></code> and <code class="docutils literal notranslate"><span class="pre">port</span></code> to connect to the
LDAP server</dd>
<dt><code class="docutils literal notranslate"><span class="pre">optReferrals</span></code></dt>
<dd>Specifies whether to automatically follow referrals returned by the LDAP server</dd>
<dt><code class="docutils literal notranslate"><span class="pre">options</span></code></dt>
<dd>LDAP server’s options as defined in
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Ldap/Adapter/ExtLdap/ConnectionOptions.php" title="Symfony\Component\Ldap\Adapter\ExtLdap\ConnectionOptions"><span class="pre">ConnectionOptions</span></a></code></dd>
</dl>
<p>For example, to connect to a start-TLS secured LDAP server:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Ldap</span><span class="p">;</span>

<span class="nv">$ldap</span> <span class="o">=</span> <span class="nx">Ldap</span><span class="o">::</span><span class="na">create</span><span class="p">(</span><span class="s1">&#39;ext_ldap&#39;</span><span class="p">,</span> <span class="p">[</span>
    <span class="s1">&#39;host&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;my-server&#39;</span><span class="p">,</span>
    <span class="s1">&#39;encryption&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ssl&#39;</span><span class="p">,</span>
<span class="p">]);</span>
</pre></div>
</div>
<p>Or you could directly specify a connection string:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Ldap</span><span class="p">;</span>

<span class="nv">$ldap</span> <span class="o">=</span> <span class="nx">Ldap</span><span class="o">::</span><span class="na">create</span><span class="p">(</span><span class="s1">&#39;ext_ldap&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;connection_string&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ldaps://my-server:636&#39;</span><span class="p">]);</span>
</pre></div>
</div>
<p>The <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Ldap/Ldap.php" title="Symfony\Component\Ldap\Ldap::bind()"><span class="pre">bind()</span></a></code> method
authenticates a previously configured connection using both the
distinguished name (DN) and the password of a user:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Ldap</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="nv">$ldap</span><span class="o">-&gt;</span><span class="na">bind</span><span class="p">(</span><span class="nv">$dn</span><span class="p">,</span> <span class="nv">$password</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">When the LDAP server allows unauthenticated binds, a blank password will always be valid.</p>
</div>
<p>Once bound (or if you enabled anonymous authentication on your
LDAP server), you may query the LDAP server using the
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Ldap/Ldap.php" title="Symfony\Component\Ldap\Ldap::query()"><span class="pre">query()</span></a></code> method:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Ldap</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="nv">$query</span> <span class="o">=</span> <span class="nv">$ldap</span><span class="o">-&gt;</span><span class="na">query</span><span class="p">(</span><span class="s1">&#39;dc=symfony,dc=com&#39;</span><span class="p">,</span> <span class="s1">&#39;(&amp;(objectclass=person)(ou=Maintainers))&#39;</span><span class="p">);</span>
<span class="nv">$results</span> <span class="o">=</span> <span class="nv">$query</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">();</span>

<span class="k">foreach</span> <span class="p">(</span><span class="nv">$results</span> <span class="k">as</span> <span class="nv">$entry</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Do something with the results</span>
<span class="p">}</span>
</pre></div>
</div>
<p>By default, LDAP entries are lazy-loaded. If you wish to fetch
all entries in a single call and do something with the results’
array, you may use the
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Ldap/Adapter/ExtLdap/Collection.php" title="Symfony\Component\Ldap\Adapter\ExtLdap\Collection::toArray()"><span class="pre">toArray()</span></a></code> method:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Ldap</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="nv">$query</span> <span class="o">=</span> <span class="nv">$ldap</span><span class="o">-&gt;</span><span class="na">query</span><span class="p">(</span><span class="s1">&#39;dc=symfony,dc=com&#39;</span><span class="p">,</span> <span class="s1">&#39;(&amp;(objectclass=person)(ou=Maintainers))&#39;</span><span class="p">);</span>
<span class="nv">$results</span> <span class="o">=</span> <span class="nv">$query</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">toArray</span><span class="p">();</span>

<span class="c1">// Do something with the results array</span>
</pre></div>
</div>
<p>By default, LDAP queries use the <code class="docutils literal notranslate"><span class="pre">Symfony\Component\Ldap\Adapter\QueryInterface::SCOPE_SUB</span></code>
scope, which corresponds to the <code class="docutils literal notranslate"><span class="pre">LDAP_SCOPE_SUBTREE</span></code> scope of the
<code class="docutils literal notranslate"><a class="reference external" href="https://www.php.net/manual/en/function.ldap-search.php" title="ldap_search"><span class="pre">ldap_search</span></a></code> function. You can also use <code class="docutils literal notranslate"><span class="pre">SCOPE_BASE</span></code> (related
to the <code class="docutils literal notranslate"><span class="pre">LDAP_SCOPE_BASE</span></code> scope of <code class="docutils literal notranslate"><a class="reference external" href="https://www.php.net/manual/en/function.ldap-read.php" title="ldap_read"><span class="pre">ldap_read</span></a></code>) and <code class="docutils literal notranslate"><span class="pre">SCOPE_ONE</span></code>
(related to the <code class="docutils literal notranslate"><span class="pre">LDAP_SCOPE_ONELEVEL</span></code> scope of <code class="docutils literal notranslate"><a class="reference external" href="https://www.php.net/manual/en/function.ldap-list.php" title="ldap_list"><span class="pre">ldap_list</span></a></code>):</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Adapter\QueryInterface</span><span class="p">;</span>

<span class="nv">$query</span> <span class="o">=</span> <span class="nv">$ldap</span><span class="o">-&gt;</span><span class="na">query</span><span class="p">(</span><span class="s1">&#39;dc=symfony,dc=com&#39;</span><span class="p">,</span> <span class="s1">&#39;...&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;scope&#39;</span> <span class="o">=&gt;</span> <span class="nx">QueryInterface</span><span class="o">::</span><span class="na">SCOPE_ONE</span><span class="p">]);</span>
</pre></div>
</div>
</div>
<div class="section" id="creating-or-updating-entries">
<h2>Creating or Updating Entries<a class="headerlink" href="#creating-or-updating-entries" title="Permalink to this headline">¶</a></h2>
<p>The Ldap component provides means to create new LDAP entries, update or even
delete existing ones:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Entry</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Ldap</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="nv">$entry</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Entry</span><span class="p">(</span><span class="s1">&#39;cn=Fabien Potencier,dc=symfony,dc=com&#39;</span><span class="p">,</span> <span class="p">[</span>
    <span class="s1">&#39;sn&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;fabpot&#39;</span><span class="p">],</span>
    <span class="s1">&#39;objectClass&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;inetOrgPerson&#39;</span><span class="p">],</span>
<span class="p">]);</span>

<span class="nv">$entryManager</span> <span class="o">=</span> <span class="nv">$ldap</span><span class="o">-&gt;</span><span class="na">getEntryManager</span><span class="p">();</span>

<span class="c1">// Creating a new entry</span>
<span class="nv">$entryManager</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="nv">$entry</span><span class="p">);</span>

<span class="c1">// Finding and updating an existing entry</span>
<span class="nv">$query</span> <span class="o">=</span> <span class="nv">$ldap</span><span class="o">-&gt;</span><span class="na">query</span><span class="p">(</span><span class="s1">&#39;dc=symfony,dc=com&#39;</span><span class="p">,</span> <span class="s1">&#39;(&amp;(objectclass=person)(ou=Maintainers))&#39;</span><span class="p">);</span>
<span class="nv">$result</span> <span class="o">=</span> <span class="nv">$query</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">();</span>
<span class="nv">$entry</span> <span class="o">=</span> <span class="nv">$result</span><span class="p">[</span><span class="mi">0</span><span class="p">];</span>
<span class="nv">$entry</span><span class="o">-&gt;</span><span class="na">setAttribute</span><span class="p">(</span><span class="s1">&#39;email&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;fabpot@symfony.com&#39;</span><span class="p">]);</span>
<span class="nv">$entryManager</span><span class="o">-&gt;</span><span class="na">update</span><span class="p">(</span><span class="nv">$entry</span><span class="p">);</span>

<span class="c1">// Adding or removing values to a multi-valued attribute is more efficient than using update()</span>
<span class="nv">$entryManager</span><span class="o">-&gt;</span><span class="na">addAttributeValues</span><span class="p">(</span><span class="nv">$entry</span><span class="p">,</span> <span class="s1">&#39;telephoneNumber&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;+1.111.222.3333&#39;</span><span class="p">,</span> <span class="s1">&#39;+1.222.333.4444&#39;</span><span class="p">]);</span>
<span class="nv">$entryManager</span><span class="o">-&gt;</span><span class="na">removeAttributeValues</span><span class="p">(</span><span class="nv">$entry</span><span class="p">,</span> <span class="s1">&#39;telephoneNumber&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;+1.111.222.3333&#39;</span><span class="p">,</span> <span class="s1">&#39;+1.222.333.4444&#39;</span><span class="p">]);</span>

<span class="c1">// Removing an existing entry</span>
<span class="nv">$entryManager</span><span class="o">-&gt;</span><span class="na">remove</span><span class="p">(</span><span class="k">new</span> <span class="nx">Entry</span><span class="p">(</span><span class="s1">&#39;cn=Test User,dc=symfony,dc=com&#39;</span><span class="p">));</span>
</pre></div>
</div>
<div class="section" id="batch-updating">
<h3>Batch Updating<a class="headerlink" href="#batch-updating" title="Permalink to this headline">¶</a></h3>
<p>Use the entry manager’s <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Ldap/Adapter/ExtLdap/EntryManager.php" title="Symfony\Component\Ldap\Adapter\ExtLdap\EntryManager::applyOperations()"><span class="pre">applyOperations()</span></a></code>
method to update multiple attributes at once:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Entry</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Ldap\Ldap</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="nv">$entry</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Entry</span><span class="p">(</span><span class="s1">&#39;cn=Fabien Potencier,dc=symfony,dc=com&#39;</span><span class="p">,</span> <span class="p">[</span>
    <span class="s1">&#39;sn&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;fabpot&#39;</span><span class="p">],</span>
    <span class="s1">&#39;objectClass&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;inetOrgPerson&#39;</span><span class="p">],</span>
<span class="p">]);</span>

<span class="nv">$entryManager</span> <span class="o">=</span> <span class="nv">$ldap</span><span class="o">-&gt;</span><span class="na">getEntryManager</span><span class="p">();</span>

<span class="c1">// Adding multiple email addresses at once</span>
<span class="nv">$entryManager</span><span class="o">-&gt;</span><span class="na">applyOperations</span><span class="p">(</span><span class="nv">$entry</span><span class="o">-&gt;</span><span class="na">getDn</span><span class="p">(),</span> <span class="p">[</span>
    <span class="k">new</span> <span class="nx">UpdateOperation</span><span class="p">(</span><span class="nx">LDAP_MODIFY_BATCH_ADD</span><span class="p">,</span> <span class="s1">&#39;mail&#39;</span><span class="p">,</span> <span class="s1">&#39;new1@example.com&#39;</span><span class="p">),</span>
    <span class="k">new</span> <span class="nx">UpdateOperation</span><span class="p">(</span><span class="nx">LDAP_MODIFY_BATCH_ADD</span><span class="p">,</span> <span class="s1">&#39;mail&#39;</span><span class="p">,</span> <span class="s1">&#39;new2@example.com&#39;</span><span class="p">),</span>
<span class="p">]);</span>
</pre></div>
</div>
<p>Possible operation types are <code class="docutils literal notranslate"><span class="pre">LDAP_MODIFY_BATCH_ADD</span></code>, <code class="docutils literal notranslate"><span class="pre">LDAP_MODIFY_BATCH_REMOVE</span></code>,
<code class="docutils literal notranslate"><span class="pre">LDAP_MODIFY_BATCH_REMOVE_ALL</span></code>, <code class="docutils literal notranslate"><span class="pre">LDAP_MODIFY_BATCH_REPLACE</span></code>. Parameter
<code class="docutils literal notranslate"><span class="pre">$values</span></code> must be <code class="docutils literal notranslate"><span class="pre">NULL</span></code> when using <code class="docutils literal notranslate"><span class="pre">LDAP_MODIFY_BATCH_REMOVE_ALL</span></code>
operation type.</p>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2004-2020 Fabien Potencier

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>