

<!DOCTYPE html>
<html class="writer-html4" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Adapters For Interoperability between PSR-6 and PSR-16 Cache &mdash; Symfony Framework Documentation  documentation</title>
  

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/rtd_custom.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../../genindex.html" />
    <link rel="search" title="Search" href="../../search.html" />
    <link rel="next" title="The Config Component" href="../config.html" />
    <link rel="prev" title="Cache Pools and Supported Adapters" href="cache_pools.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #f0f0f0" >
          

          
            <a href="../../index.html">
          

          
            
            <img src="../../_static/symfony-logo.svg" class="logo" alt="Logo"/>
          
          </a>

          
            
            
              <div class="version">
                4.4}
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../../quick_tour/index.html">The Quick Tour</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../getting_started/index.html">Getting Started</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../best_practices.html">The Symfony Framework Best Practices</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bundles.html">The Bundle System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../cache.html">Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console.html">Console Commands</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../doctrine.html">Databases and the Doctrine ORM</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">How to Deploy a Symfony Application</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../email.html">Swift Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../event_dispatcher.html">Events and Event Listeners</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../forms.html">Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../frontend.html">Managing CSS and JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../http_cache.html">HTTP Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../http_client.html">HTTP Client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../lock.html">Dealing with Concurrency with Locks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../mailer.html">Sending Emails with Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../mercure.html">Pushing Data to Clients Using the Mercure Protocol</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../messenger.html">Messenger: Sync &amp; Queued Message Handling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../migration.html">Migrating an Existing Application to Symfony</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../performance.html">Performance</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../profiler.html">Profiler</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../session.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../setup.html">Installing &amp; Setting up the Symfony Framework</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../serializer.html">How to Use the Serializer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../service_container.html">Service Container</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../translation.html">Translations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../validation.html">Validation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../web_link.html">Asset Preloading and Resource Hints with HTTP/2 and WebLink</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../workflow.html">Workflow</a></li>
</ul>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">The Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../using_components.html">How to Install and Use the Symfony Components</a></li>
<li class="toctree-l2"><a class="reference internal" href="../asset.html">The Asset Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../browser_kit.html">The BrowserKit Component</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../cache.html">The Cache Component</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="../cache.html#installation">Installation</a></li>
<li class="toctree-l3"><a class="reference internal" href="../cache.html#cache-contracts-versus-psr-6">Cache Contracts versus PSR-6</a></li>
<li class="toctree-l3"><a class="reference internal" href="../cache.html#cache-contracts">Cache Contracts</a></li>
<li class="toctree-l3"><a class="reference internal" href="../cache.html#generic-caching-psr-6">Generic Caching (PSR-6)</a></li>
<li class="toctree-l3"><a class="reference internal" href="../cache.html#basic-usage-psr-6">Basic Usage (PSR-6)</a></li>
<li class="toctree-l3 current"><a class="reference internal" href="../cache.html#advanced-usage">Advanced Usage</a><ul class="current">
<li class="toctree-l4"><a class="reference internal" href="cache_invalidation.html">Cache Invalidation</a></li>
<li class="toctree-l4"><a class="reference internal" href="cache_items.html">Cache Items</a></li>
<li class="toctree-l4"><a class="reference internal" href="cache_pools.html">Cache Pools and Supported Adapters</a></li>
<li class="toctree-l4 current"><a class="current reference internal" href="#">Adapters For Interoperability between PSR-6 and PSR-16 Cache</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../config.html">The Config Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../console.html">The Console Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../contracts.html">The Contracts Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../css_selector.html">The CssSelector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../dependency_injection.html">The DependencyInjection Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../dom_crawler.html">The DomCrawler Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../event_dispatcher.html">The EventDispatcher Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../expression_language.html">The ExpressionLanguage Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../filesystem.html">The Filesystem Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../finder.html">The Finder Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../form.html">The Form Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../http_foundation.html">The HttpFoundation Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../http_kernel.html">The HttpKernel Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../inflector.html">The Inflector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../intl.html">The Intl Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../ldap.html">The Ldap Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../lock.html">The Lock Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../messenger.html">The Messenger Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../mime.html">The Mime Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../options_resolver.html">The OptionsResolver Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../phpunit_bridge.html">The PHPUnit Bridge</a></li>
<li class="toctree-l2"><a class="reference internal" href="../process.html">The Process Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../property_access.html">The PropertyAccess Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../property_info.html">The PropertyInfo Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../psr7.html">The PSR-7 Bridge</a></li>
<li class="toctree-l2"><a class="reference internal" href="../security.html">The Security Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../serializer.html">The Serializer Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../validator.html">The Validator Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../var_dumper.html">The VarDumper Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../var_exporter.html">The VarExporter Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../workflow.html">The Workflow Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="../yaml.html">The Yaml Component</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../reference/index.html">Reference Documents</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../contributing/index.html">Contributing</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../create_framework/index.html">Create your own PHP Framework</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">Symfony Framework Documentation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="../index.html">The Components</a> &raquo;</li>
        
          <li><a href="../cache.html">The Cache Component</a> &raquo;</li>
        
      <li>Adapters For Interoperability between PSR-6 and PSR-16 Cache</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/components/cache/psr6_psr16_adapters.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="adapters-for-interoperability-between-psr-6-and-psr-16-cache">
<span id="index-0"></span><h1>Adapters For Interoperability between PSR-6 and PSR-16 Cache<a class="headerlink" href="#adapters-for-interoperability-between-psr-6-and-psr-16-cache" title="Permalink to this headline">¶</a></h1>
<p>Sometimes, you may have a Cache object that implements the <a class="reference external" href="https://www.php-fig.org/psr/psr-16/">PSR-16</a>
standard, but need to pass it to an object that expects a <a class="reference internal" href="../cache.html#cache-component-psr6-caching"><span class="std std-ref">PSR-6</span></a>
cache adapter. Or, you might have the opposite situation. The cache component contains
two classes for bidirectional interoperability between PSR-6 and PSR-16 caches.</p>
<div class="section" id="using-a-psr-16-cache-object-as-a-psr-6-cache">
<h2>Using a PSR-16 Cache Object as a PSR-6 Cache<a class="headerlink" href="#using-a-psr-16-cache-object-as-a-psr-6-cache" title="Permalink to this headline">¶</a></h2>
<p>Suppose you want to work with a class that requires a PSR-6 Cache pool object. For
example:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Psr\Cache\CacheItemPoolInterface</span><span class="p">;</span>

<span class="c1">// just a made-up class for the example</span>
<span class="k">class</span> <span class="nc">GitHubApiClient</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="c1">// this requires a PSR-6 cache object</span>
    <span class="k">public</span> <span class="k">function</span> <span class="fm">__construct</span><span class="p">(</span><span class="nx">CacheItemPoolInterface</span> <span class="nv">$cachePool</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ...</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>But, you already have a PSR-16 cache object, and you’d like to pass this to the class
instead. No problem! The Cache component provides the
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Cache/Adapter/Psr16Adapter.php" title="Symfony\Component\Cache\Adapter\Psr16Adapter"><span class="pre">Psr16Adapter</span></a></code> class for exactly
this use-case:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Cache\Adapter\Psr16Adapter</span><span class="p">;</span>

<span class="c1">// $psr16Cache is the PSR-16 object that you want to use as a PSR-6 one</span>

<span class="c1">// a PSR-6 cache that uses your cache internally!</span>
<span class="nv">$psr6Cache</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Psr16Adapter</span><span class="p">(</span><span class="nv">$psr16Cache</span><span class="p">);</span>

<span class="c1">// now use this wherever you want</span>
<span class="nv">$githubApiClient</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GitHubApiClient</span><span class="p">(</span><span class="nv">$psr6Cache</span><span class="p">);</span>
</pre></div>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 4.3: </span>The <code class="docutils literal notranslate"><span class="pre">Psr16Adapter</span></code> class was introduced in Symfony 4.3.</p>
</div>
</div>
<div class="section" id="using-a-psr-6-cache-object-as-a-psr-16-cache">
<h2>Using a PSR-6 Cache Object as a PSR-16 Cache<a class="headerlink" href="#using-a-psr-6-cache-object-as-a-psr-16-cache" title="Permalink to this headline">¶</a></h2>
<p>Suppose you want to work with a class that requires a PSR-16 Cache object. For
example:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Psr\SimpleCache\CacheInterface</span><span class="p">;</span>

<span class="c1">// just a made-up class for the example</span>
<span class="k">class</span> <span class="nc">GitHubApiClient</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="c1">// this requires a PSR-16 cache object</span>
    <span class="k">public</span> <span class="k">function</span> <span class="fm">__construct</span><span class="p">(</span><span class="nx">CacheInterface</span> <span class="nv">$cache</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ...</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>But, you already have a PSR-6 cache pool object, and you’d like to pass this to
the class instead. No problem! The Cache component provides the
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Cache/Psr16Cache.php" title="Symfony\Component\Cache\Psr16Cache"><span class="pre">Psr16Cache</span></a></code> class for exactly
this use-case:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Cache\Adapter\FilesystemAdapter</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Cache\Psr16Cache</span><span class="p">;</span>

<span class="c1">// the PSR-6 cache object that you want to use</span>
<span class="nv">$psr6Cache</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FilesystemAdapter</span><span class="p">();</span>

<span class="c1">// a PSR-16 cache that uses your cache internally!</span>
<span class="nv">$psr16Cache</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Psr16Cache</span><span class="p">(</span><span class="nv">$psr6Cache</span><span class="p">);</span>

<span class="c1">// now use this wherever you want</span>
<span class="nv">$githubApiClient</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GitHubApiClient</span><span class="p">(</span><span class="nv">$psr16Cache</span><span class="p">);</span>
</pre></div>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 4.3: </span>The <code class="docutils literal notranslate"><span class="pre">Psr16Cache</span></code> class was introduced in Symfony 4.3.</p>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2004-2020 Fabien Potencier

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>