

<!DOCTYPE html>
<html class="writer-html4" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>The Mime Component &mdash; Symfony Framework Documentation  documentation</title>
  

  
  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../_static/rtd_custom.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
        <script type="text/javascript" src="../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="The OptionsResolver Component" href="options_resolver.html" />
    <link rel="prev" title="The Messenger Component" href="messenger.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #f0f0f0" >
          

          
            <a href="../index.html">
          

          
            
            <img src="../_static/symfony-logo.svg" class="logo" alt="Logo"/>
          
          </a>

          
            
            
              <div class="version">
                5.x}
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../quick_tour/index.html">The Quick Tour</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../getting_started/index.html">Getting Started</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../best_practices.html">The Symfony Framework Best Practices</a></li>
<li class="toctree-l1"><a class="reference internal" href="../bundles.html">The Bundle System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cache.html">Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../console.html">Console Commands</a></li>
<li class="toctree-l1"><a class="reference internal" href="../doctrine.html">Databases and the Doctrine ORM</a></li>
<li class="toctree-l1"><a class="reference internal" href="../deployment.html">How to Deploy a Symfony Application</a></li>
<li class="toctree-l1"><a class="reference internal" href="../email.html">Swift Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../event_dispatcher.html">Events and Event Listeners</a></li>
<li class="toctree-l1"><a class="reference internal" href="../forms.html">Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="../frontend.html">Managing CSS and JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../http_cache.html">HTTP Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../http_client.html">HTTP Client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../lock.html">Dealing with Concurrency with Locks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../mailer.html">Sending Emails with Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../mercure.html">Pushing Data to Clients Using the Mercure Protocol</a></li>
<li class="toctree-l1"><a class="reference internal" href="../messenger.html">Messenger: Sync &amp; Queued Message Handling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../migration.html">Migrating an Existing Application to Symfony</a></li>
<li class="toctree-l1"><a class="reference internal" href="../notifier.html">Creating and Sending Notifications</a></li>
<li class="toctree-l1"><a class="reference internal" href="../performance.html">Performance</a></li>
<li class="toctree-l1"><a class="reference internal" href="../profiler.html">Profiler</a></li>
<li class="toctree-l1"><a class="reference internal" href="../rate_limiter.html">Rate Limiter</a></li>
<li class="toctree-l1"><a class="reference internal" href="../routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../session.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../setup.html">Installing &amp; Setting up the Symfony Framework</a></li>
<li class="toctree-l1"><a class="reference internal" href="../serializer.html">How to Use the Serializer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../service_container.html">Service Container</a></li>
<li class="toctree-l1"><a class="reference internal" href="../testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../translation.html">Translations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../validation.html">Validation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../web_link.html">Asset Preloading and Resource Hints with HTTP/2 and WebLink</a></li>
<li class="toctree-l1"><a class="reference internal" href="../workflow.html">Workflow</a></li>
</ul>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="index.html">The Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="using_components.html">How to Install and Use the Symfony Components</a></li>
<li class="toctree-l2"><a class="reference internal" href="asset.html">The Asset Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="browser_kit.html">The BrowserKit Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="cache.html">The Cache Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="config.html">The Config Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="console.html">The Console Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="contracts.html">The Contracts Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="css_selector.html">The CssSelector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="dependency_injection.html">The DependencyInjection Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="dom_crawler.html">The DomCrawler Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="event_dispatcher.html">The EventDispatcher Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="expression_language.html">The ExpressionLanguage Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="filesystem.html">The Filesystem Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="finder.html">The Finder Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="form.html">The Form Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="http_foundation.html">The HttpFoundation Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="http_kernel.html">The HttpKernel Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="inflector.html">The Inflector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="intl.html">The Intl Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="ldap.html">The Ldap Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="lock.html">The Lock Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="messenger.html">The Messenger Component</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">The Mime Component</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#installation">Installation</a></li>
<li class="toctree-l3"><a class="reference internal" href="#introduction">Introduction</a></li>
<li class="toctree-l3"><a class="reference internal" href="#usage">Usage</a></li>
<li class="toctree-l3"><a class="reference internal" href="#twig-integration">Twig Integration</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#twig-setup">Twig Setup</a></li>
<li class="toctree-l4"><a class="reference internal" href="#inlining-css-styles-and-other-extensions">Inlining CSS Styles (and other Extensions)</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="#creating-raw-email-messages">Creating Raw Email Messages</a></li>
<li class="toctree-l3"><a class="reference internal" href="#serializing-email-messages">Serializing Email Messages</a></li>
<li class="toctree-l3"><a class="reference internal" href="#mime-types-utilities">MIME Types Utilities</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#guessing-the-mime-type">Guessing the MIME Type</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="options_resolver.html">The OptionsResolver Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="phpunit_bridge.html">The PHPUnit Bridge</a></li>
<li class="toctree-l2"><a class="reference internal" href="process.html">The Process Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="property_access.html">The PropertyAccess Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="property_info.html">The PropertyInfo Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="psr7.html">The PSR-7 Bridge</a></li>
<li class="toctree-l2"><a class="reference internal" href="security.html">The Security Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="semaphore.html">The Semaphore Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="serializer.html">The Serializer Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="string.html">The String Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="uid.html">The UID Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="validator.html">The Validator Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="var_dumper.html">The VarDumper Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="var_exporter.html">The VarExporter Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="workflow.html">The Workflow Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="yaml.html">The Yaml Component</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../reference/index.html">Reference Documents</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../contributing/index.html">Contributing</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../create_framework/index.html">Create your own PHP Framework</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">Symfony Framework Documentation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="index.html">The Components</a> &raquo;</li>
        
      <li>The Mime Component</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/mime.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="the-mime-component">
<span id="index-0"></span><h1>The Mime Component<a class="headerlink" href="#the-mime-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Mime component allows manipulating the MIME messages used to send emails
and provides utilities related to MIME types.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<div class="highlight-terminal notranslate"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="gp">$</span> composer require symfony/mime
</pre></div>
</td></tr></table></div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you install this component outside of a Symfony application, you must
require the <code class="docutils literal notranslate"><span class="pre">vendor/autoload.php</span></code> file in your code to enable the class
autoloading mechanism provided by Composer. Read
<a class="reference internal" href="using_components.html"><span class="doc">this article</span></a> for more details.</p>
</div>
</div>
<div class="section" id="introduction">
<h2>Introduction<a class="headerlink" href="#introduction" title="Permalink to this headline">¶</a></h2>
<p><a class="reference external" href="https://en.wikipedia.org/wiki/MIME">MIME</a> (Multipurpose Internet Mail Extensions) is an Internet standard that
extends the original basic format of emails to support features like:</p>
<ul class="simple">
<li>Headers and text contents using non-ASCII characters;</li>
<li>Message bodies with multiple parts (e.g. HTML and plain text contents);</li>
<li>Non-text attachments: audio, video, images, PDF, etc.</li>
</ul>
<p>The entire MIME standard is complex and huge, but Symfony abstracts all that
complexity to provide two ways of creating MIME messages:</p>
<ul class="simple">
<li>A high-level API based on the <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Mime/Email.php" title="Symfony\Component\Mime\Email"><span class="pre">Email</span></a></code> class
to quickly create email messages with all the common features;</li>
<li>A low-level API based on the <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Mime/Message.php" title="Symfony\Component\Mime\Message"><span class="pre">Message</span></a></code> class
to have an absolute control over every single part of the email message.</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Use the <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Mime/Email.php" title="Symfony\Component\Mime\Email"><span class="pre">Email</span></a></code> class and their <em>chainable</em>
methods to compose the entire email message:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Mime\Email</span><span class="p">;</span>

<span class="nv">$email</span> <span class="o">=</span> <span class="p">(</span><span class="k">new</span> <span class="nx">Email</span><span class="p">())</span>
    <span class="o">-&gt;</span><span class="na">from</span><span class="p">(</span><span class="s1">&#39;fabien@symfony.com&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">to</span><span class="p">(</span><span class="s1">&#39;foo@example.com&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">cc</span><span class="p">(</span><span class="s1">&#39;bar@example.com&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">bcc</span><span class="p">(</span><span class="s1">&#39;baz@example.com&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">replyTo</span><span class="p">(</span><span class="s1">&#39;fabien@symfony.com&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">priority</span><span class="p">(</span><span class="nx">Email</span><span class="o">::</span><span class="na">PRIORITY_HIGH</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">subject</span><span class="p">(</span><span class="s1">&#39;Important Notification&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">text</span><span class="p">(</span><span class="s1">&#39;Lorem ipsum...&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">html</span><span class="p">(</span><span class="s1">&#39;&lt;h1&gt;Lorem ipsum&lt;/h1&gt; &lt;p&gt;...&lt;/p&gt;&#39;</span><span class="p">)</span>
<span class="p">;</span>
</pre></div>
</div>
<p>This only purpose of this component is to create the email messages. Use the
<a class="reference internal" href="../mailer.html"><span class="doc">Mailer component</span></a> to actually send them.</p>
</div>
<div class="section" id="twig-integration">
<h2>Twig Integration<a class="headerlink" href="#twig-integration" title="Permalink to this headline">¶</a></h2>
<p>The Mime component comes with excellent integration with Twig, allowing you to
create messages from Twig templates, embed images, inline CSS and more. Details
on how to use those features can be found in the Mailer documentation:
<a class="reference internal" href="../mailer.html#mailer-twig"><span class="std std-ref">Twig: HTML &amp; CSS</span></a>.</p>
<p>But if you’re using the Mime component without the Symfony framework, you’ll need
to handle a few setup details.</p>
<div class="section" id="twig-setup">
<h3>Twig Setup<a class="headerlink" href="#twig-setup" title="Permalink to this headline">¶</a></h3>
<p>To integrate with Twig, use the <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Bridge/Twig/Mime/BodyRenderer.php" title="Symfony\Bridge\Twig\Mime\BodyRenderer"><span class="pre">BodyRenderer</span></a></code>
class to render the template and update the email message contents with the results:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="k">use</span> <span class="nx">Symfony\Bridge\Twig\Mime\BodyRenderer</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Twig\Environment</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Twig\Loader\FilesystemLoader</span><span class="p">;</span>

<span class="c1">// when using the Mime component inside a full-stack Symfony application, you</span>
<span class="c1">// don&#39;t need to do this Twig setup. You only have to inject the &#39;twig&#39; service</span>
<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FilesystemLoader</span><span class="p">(</span><span class="no">__DIR__</span><span class="o">.</span><span class="s1">&#39;/templates&#39;</span><span class="p">);</span>
<span class="nv">$twig</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Environment</span><span class="p">(</span><span class="nv">$loader</span><span class="p">);</span>

<span class="nv">$renderer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">BodyRenderer</span><span class="p">(</span><span class="nv">$twig</span><span class="p">);</span>
<span class="c1">// this updates the $email object contents with the result of rendering</span>
<span class="c1">// the template defined earlier with the given context</span>
<span class="nv">$renderer</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="nv">$email</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="inlining-css-styles-and-other-extensions">
<h3>Inlining CSS Styles (and other Extensions)<a class="headerlink" href="#inlining-css-styles-and-other-extensions" title="Permalink to this headline">¶</a></h3>
<p>To use the <a class="reference internal" href="../mailer.html#mailer-inline-css"><span class="std std-ref">inline_css</span></a> filter, first install the Twig
extension:</p>
<div class="highlight-terminal notranslate"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="gp">$</span> composer require twig/cssinliner-extra
</pre></div>
</td></tr></table></div>
<p>Now, enable the extension:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="k">use</span> <span class="nx">Twig\Extra\CssInliner\CssInlinerExtension</span><span class="p">;</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FilesystemLoader</span><span class="p">(</span><span class="no">__DIR__</span><span class="o">.</span><span class="s1">&#39;/templates&#39;</span><span class="p">);</span>
<span class="nv">$twig</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Environment</span><span class="p">(</span><span class="nv">$loader</span><span class="p">);</span>
<span class="nv">$twig</span><span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">CssInlinerExtension</span><span class="p">());</span>
</pre></div>
</div>
<p>The same process should be used for enabling other extensions, like the
<a class="reference internal" href="../mailer.html#mailer-markdown"><span class="std std-ref">MarkdownExtension</span></a> and <a class="reference internal" href="../mailer.html#mailer-inky"><span class="std std-ref">InkyExtension</span></a>.</p>
</div>
</div>
<div class="section" id="creating-raw-email-messages">
<h2>Creating Raw Email Messages<a class="headerlink" href="#creating-raw-email-messages" title="Permalink to this headline">¶</a></h2>
<p>This is useful for advanced applications that need absolute control over every
email part. It’s not recommended for applications with regular email
requirements because it adds complexity for no real gain.</p>
<p>Before continuing, it’s important to have a look at the low level structure of
an email message. Consider a message which includes some content as both text
and HTML, a single PNG image embedded in those contents and a PDF file attached
to it. The MIME standard allows structuring this message in different ways, but
the following tree is the one that works on most email clients:</p>
<div class="highlight-text notranslate"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5
6
7</pre></div></td><td class="code"><div class="highlight"><pre><span></span>multipart/mixed
├── multipart/related
│   ├── multipart/alternative
│   │   ├── text/plain
│   │   └── text/html
│   └── image/png
└── application/pdf
</pre></div>
</td></tr></table></div>
<p>This is the purpose of each MIME message part:</p>
<ul class="simple">
<li><code class="docutils literal notranslate"><span class="pre">multipart/alternative</span></code>: used when two or more parts are alternatives of the
same (or very similar) content. The preferred format must be added last.</li>
<li><code class="docutils literal notranslate"><span class="pre">multipart/mixed</span></code>: used to send different content types in the same message,
such as when attaching files.</li>
<li><code class="docutils literal notranslate"><span class="pre">multipart/related</span></code>: used to indicate that each message part is a component
of an aggregate whole. The most common usage is to display images embedded
in the message contents.</li>
</ul>
<p>When using the low-level <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Mime/Message.php" title="Symfony\Component\Mime\Message"><span class="pre">Message</span></a></code> class to
create the email message, you must keep all the above in mind to define the
different parts of the email by hand:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Mime\Header\Headers</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Mime\Message</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Mime\Part\Multipart\AlternativePart</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Mime\Part\TextPart</span><span class="p">;</span>

<span class="nv">$headers</span> <span class="o">=</span> <span class="p">(</span><span class="k">new</span> <span class="nx">Headers</span><span class="p">())</span>
    <span class="o">-&gt;</span><span class="na">addMailboxListHeader</span><span class="p">(</span><span class="s1">&#39;From&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;fabien@symfony.com&#39;</span><span class="p">])</span>
    <span class="o">-&gt;</span><span class="na">addMailboxListHeader</span><span class="p">(</span><span class="s1">&#39;To&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;foo@example.com&#39;</span><span class="p">])</span>
    <span class="o">-&gt;</span><span class="na">addTextHeader</span><span class="p">(</span><span class="s1">&#39;Subject&#39;</span><span class="p">,</span> <span class="s1">&#39;Important Notification&#39;</span><span class="p">)</span>
<span class="p">;</span>

<span class="nv">$textContent</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TextPart</span><span class="p">(</span><span class="s1">&#39;Lorem ipsum...&#39;</span><span class="p">);</span>
<span class="nv">$htmlContent</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TextPart</span><span class="p">(</span><span class="s1">&#39;&lt;h1&gt;Lorem ipsum&lt;/h1&gt; &lt;p&gt;...&lt;/p&gt;&#39;</span><span class="p">,</span> <span class="k">null</span><span class="p">,</span> <span class="s1">&#39;html&#39;</span><span class="p">);</span>
<span class="nv">$body</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">AlternativePart</span><span class="p">(</span><span class="nv">$textContent</span><span class="p">,</span> <span class="nv">$htmlContent</span><span class="p">);</span>

<span class="nv">$email</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Message</span><span class="p">(</span><span class="nv">$headers</span><span class="p">,</span> <span class="nv">$body</span><span class="p">);</span>
</pre></div>
</div>
<p>Embedding images and attaching files is possible by creating the appropriate
email multiparts:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="c1">// ...</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Mime\Part\DataPart</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Mime\Part\Multipart\MixedPart</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Mime\Part\Multipart\RelatedPart</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="nv">$embeddedImage</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">DataPart</span><span class="p">(</span><span class="nb">fopen</span><span class="p">(</span><span class="s1">&#39;/path/to/images/logo.png&#39;</span><span class="p">,</span> <span class="s1">&#39;r&#39;</span><span class="p">),</span> <span class="k">null</span><span class="p">,</span> <span class="s1">&#39;image/png&#39;</span><span class="p">);</span>
<span class="nv">$imageCid</span> <span class="o">=</span> <span class="nv">$embeddedImage</span><span class="o">-&gt;</span><span class="na">getContentId</span><span class="p">();</span>

<span class="nv">$attachedFile</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">DataPart</span><span class="p">(</span><span class="nb">fopen</span><span class="p">(</span><span class="s1">&#39;/path/to/documents/terms-of-use.pdf&#39;</span><span class="p">,</span> <span class="s1">&#39;r&#39;</span><span class="p">),</span> <span class="k">null</span><span class="p">,</span> <span class="s1">&#39;application/pdf&#39;</span><span class="p">);</span>

<span class="nv">$textContent</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TextPart</span><span class="p">(</span><span class="s1">&#39;Lorem ipsum...&#39;</span><span class="p">);</span>
<span class="nv">$htmlContent</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TextPart</span><span class="p">(</span><span class="nb">sprintf</span><span class="p">(</span>
    <span class="s1">&#39;&lt;img src=&quot;cid:%s&quot;/&gt; &lt;h1&gt;Lorem ipsum&lt;/h1&gt; &lt;p&gt;...&lt;/p&gt;&#39;</span><span class="p">,</span> <span class="nv">$imageCid</span>
<span class="p">),</span> <span class="k">null</span><span class="p">,</span> <span class="s1">&#39;html&#39;</span><span class="p">);</span>
<span class="nv">$bodyContent</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">AlternativePart</span><span class="p">(</span><span class="nv">$textContent</span><span class="p">,</span> <span class="nv">$htmlContent</span><span class="p">);</span>
<span class="nv">$body</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">RelatedPart</span><span class="p">(</span><span class="nv">$bodyContent</span><span class="p">,</span> <span class="nv">$embeddedImage</span><span class="p">);</span>

<span class="nv">$messageParts</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MixedPart</span><span class="p">(</span><span class="nv">$body</span><span class="p">,</span> <span class="nv">$attachedFile</span><span class="p">);</span>

<span class="nv">$email</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Message</span><span class="p">(</span><span class="nv">$headers</span><span class="p">,</span> <span class="nv">$messageParts</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="serializing-email-messages">
<h2>Serializing Email Messages<a class="headerlink" href="#serializing-email-messages" title="Permalink to this headline">¶</a></h2>
<p>Email messages created with either the <code class="docutils literal notranslate"><span class="pre">Email</span></code> or <code class="docutils literal notranslate"><span class="pre">Message</span></code> classes can be
serialized because they are simple data objects:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="nv">$email</span> <span class="o">=</span> <span class="p">(</span><span class="k">new</span> <span class="nx">Email</span><span class="p">())</span>
    <span class="o">-&gt;</span><span class="na">from</span><span class="p">(</span><span class="s1">&#39;fabien@symfony.com&#39;</span><span class="p">)</span>
    <span class="c1">// ...</span>
<span class="p">;</span>

<span class="nv">$serializedEmail</span> <span class="o">=</span> <span class="nb">serialize</span><span class="p">(</span><span class="nv">$email</span><span class="p">);</span>
</pre></div>
</div>
<p>A common use case is to store serialized email messages, include them in a
message sent with the <a class="reference internal" href="messenger.html"><span class="doc">Messenger component</span></a> and
recreate them later when sending them. Use the
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Mime/RawMessage.php" title="Symfony\Component\Mime\RawMessage"><span class="pre">RawMessage</span></a></code> class to recreate email messages
from their serialized contents:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Mime\RawMessage</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="nv">$serializedEmail</span> <span class="o">=</span> <span class="nb">serialize</span><span class="p">(</span><span class="nv">$email</span><span class="p">);</span>

<span class="c1">// later, recreate the original message to actually send it</span>
<span class="nv">$message</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">RawMessage</span><span class="p">(</span><span class="nb">unserialize</span><span class="p">(</span><span class="nv">$serializedEmail</span><span class="p">));</span>
</pre></div>
</div>
</div>
<div class="section" id="mime-types-utilities">
<h2>MIME Types Utilities<a class="headerlink" href="#mime-types-utilities" title="Permalink to this headline">¶</a></h2>
<p>Although MIME was designed mainly for creating emails, the content types (also
known as <a class="reference external" href="https://en.wikipedia.org/wiki/Media_type">MIME types</a> and “media types”) defined by MIME standards are also of
importance in communication protocols outside of email, such as HTTP. That’s
why this component also provides utilities to work with MIME types.</p>
<p>The <code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Mime/MimeTypes.php" title="Symfony\Component\Mime\MimeTypes"><span class="pre">MimeTypes</span></a></code> class transforms between
MIME types and file name extensions:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Mime\MimeTypes</span><span class="p">;</span>

<span class="nv">$mimeTypes</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MimeTypes</span><span class="p">();</span>
<span class="nv">$exts</span> <span class="o">=</span> <span class="nv">$mimeTypes</span><span class="o">-&gt;</span><span class="na">getExtensions</span><span class="p">(</span><span class="s1">&#39;application/javascript&#39;</span><span class="p">);</span>
<span class="c1">// $exts = [&#39;js&#39;, &#39;jsm&#39;, &#39;mjs&#39;]</span>
<span class="nv">$exts</span> <span class="o">=</span> <span class="nv">$mimeTypes</span><span class="o">-&gt;</span><span class="na">getExtensions</span><span class="p">(</span><span class="s1">&#39;image/jpeg&#39;</span><span class="p">);</span>
<span class="c1">// $exts = [&#39;jpeg&#39;, &#39;jpg&#39;, &#39;jpe&#39;]</span>

<span class="nv">$mimeTypes</span> <span class="o">=</span> <span class="nv">$mimeTypes</span><span class="o">-&gt;</span><span class="na">getMimeTypes</span><span class="p">(</span><span class="s1">&#39;js&#39;</span><span class="p">);</span>
<span class="c1">// $mimeTypes = [&#39;application/javascript&#39;, &#39;application/x-javascript&#39;, &#39;text/javascript&#39;]</span>
<span class="nv">$mimeTypes</span> <span class="o">=</span> <span class="nv">$mimeTypes</span><span class="o">-&gt;</span><span class="na">getMimeTypes</span><span class="p">(</span><span class="s1">&#39;apk&#39;</span><span class="p">);</span>
<span class="c1">// $mimeTypes = [&#39;application/vnd.android.package-archive&#39;]</span>
</pre></div>
</div>
<p>These methods return arrays with one or more elements. The element position
indicates its priority, so the first returned extension is the preferred one.</p>
<div class="section" id="guessing-the-mime-type">
<span id="components-mime-type-guess"></span><h3>Guessing the MIME Type<a class="headerlink" href="#guessing-the-mime-type" title="Permalink to this headline">¶</a></h3>
<p>Another useful utility allows to guess the MIME type of any given file:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">use</span> <span class="nx">Symfony\Component\Mime\MimeTypes</span><span class="p">;</span>

<span class="nv">$mimeTypes</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MimeTypes</span><span class="p">();</span>
<span class="nv">$mimeType</span> <span class="o">=</span> <span class="nv">$mimeTypes</span><span class="o">-&gt;</span><span class="na">guessMimeType</span><span class="p">(</span><span class="s1">&#39;/some/path/to/image.gif&#39;</span><span class="p">);</span>
<span class="c1">// Guessing is not based on the file name, so $mimeType will be &#39;image/gif&#39;</span>
<span class="c1">// only if the given file is truly a GIF image</span>
</pre></div>
</div>
<p>Guessing the MIME type is a time-consuming process that requires inspecting
part of the file contents. Symfony applies multiple guessing mechanisms, one
of them based on the PHP <a class="reference external" href="https://www.php.net/fileinfo">fileinfo extension</a>. It’s recommended to install
that extension to improve the guessing performance.</p>
<div class="section" id="adding-a-mime-type-guesser">
<h4>Adding a MIME Type Guesser<a class="headerlink" href="#adding-a-mime-type-guesser" title="Permalink to this headline">¶</a></h4>
<p>You can add your own MIME type guesser by creating a class that implements
<code class="docutils literal notranslate"><a class="reference external" href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Mime/MimeTypeGuesserInterface.php" title="Symfony\Component\Mime\MimeTypeGuesserInterface"><span class="pre">MimeTypeGuesserInterface</span></a></code>:</p>
<div class="highlight-php notranslate"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Mime\MimeTypeGuesserInterface</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">SomeMimeTypeGuesser</span> <span class="k">implements</span> <span class="nx">MimeTypeGuesserInterface</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">isGuesserSupported</span><span class="p">()</span><span class="o">:</span> <span class="nx">bool</span>
    <span class="p">{</span>
        <span class="c1">// return true when the guesser is supported (might depend on the OS for instance)</span>
        <span class="k">return</span> <span class="k">true</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">guessMimeType</span><span class="p">(</span><span class="nx">string</span> <span class="nv">$path</span><span class="p">)</span><span class="o">:</span> <span class="o">?</span><span class="nx">string</span>
    <span class="p">{</span>
        <span class="c1">// inspect the contents of the file stored in $path to guess its</span>
        <span class="c1">// type and return a valid MIME type ... or null if unknown</span>

        <span class="k">return</span> <span class="s1">&#39;...&#39;</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>MIME type guessers must be <a class="reference internal" href="../service_container.html#service-container-creating-service"><span class="std std-ref">registered as services</span></a>
and <a class="reference internal" href="../service_container/tags.html"><span class="doc">tagged</span></a> with the <code class="docutils literal notranslate"><span class="pre">mime.mime_type_guesser</span></code> tag.
If you’re using the
<a class="reference internal" href="../service_container.html#service-container-services-load-example"><span class="std std-ref">default services.yaml configuration</span></a>,
this is already done for you, thanks to <a class="reference internal" href="../service_container.html#services-autoconfigure"><span class="std std-ref">autoconfiguration</span></a>.</p>
</div>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2004-2020 Fabien Potencier

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>