

<!DOCTYPE html>
<html class="writer-html4" lang="en" >
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>The Security Component &mdash; Symfony Framework Documentation  documentation</title>
  

  
  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
  <link rel="stylesheet" href="../_static/rtd_custom.css" type="text/css" />

  
  
  
  

  
  <!--[if lt IE 9]>
    <script src="../_static/js/html5shiv.min.js"></script>
  <![endif]-->
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
        <script type="text/javascript" src="../_static/language_data.js"></script>
    
    <script type="text/javascript" src="../_static/js/theme.js"></script>

    
    <link rel="index" title="Index" href="../genindex.html" />
    <link rel="search" title="Search" href="../search.html" />
    <link rel="next" title="Authentication" href="security/authentication.html" />
    <link rel="prev" title="The PSR-7 Bridge" href="psr7.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search"  style="background: #f0f0f0" >
          

          
            <a href="../index.html">
          

          
            
            <img src="../_static/symfony-logo.svg" class="logo" alt="Logo"/>
          
          </a>

          
            
            
              <div class="version">
                5.x}
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        
        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul>
<li class="toctree-l1"><a class="reference internal" href="../quick_tour/index.html">The Quick Tour</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../getting_started/index.html">Getting Started</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../best_practices.html">The Symfony Framework Best Practices</a></li>
<li class="toctree-l1"><a class="reference internal" href="../bundles.html">The Bundle System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../cache.html">Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../console.html">Console Commands</a></li>
<li class="toctree-l1"><a class="reference internal" href="../doctrine.html">Databases and the Doctrine ORM</a></li>
<li class="toctree-l1"><a class="reference internal" href="../deployment.html">How to Deploy a Symfony Application</a></li>
<li class="toctree-l1"><a class="reference internal" href="../email.html">Swift Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../event_dispatcher.html">Events and Event Listeners</a></li>
<li class="toctree-l1"><a class="reference internal" href="../forms.html">Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="../frontend.html">Managing CSS and JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../http_cache.html">HTTP Cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../http_client.html">HTTP Client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../lock.html">Dealing with Concurrency with Locks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../mailer.html">Sending Emails with Mailer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../mercure.html">Pushing Data to Clients Using the Mercure Protocol</a></li>
<li class="toctree-l1"><a class="reference internal" href="../messenger.html">Messenger: Sync &amp; Queued Message Handling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../migration.html">Migrating an Existing Application to Symfony</a></li>
<li class="toctree-l1"><a class="reference internal" href="../notifier.html">Creating and Sending Notifications</a></li>
<li class="toctree-l1"><a class="reference internal" href="../performance.html">Performance</a></li>
<li class="toctree-l1"><a class="reference internal" href="../profiler.html">Profiler</a></li>
<li class="toctree-l1"><a class="reference internal" href="../rate_limiter.html">Rate Limiter</a></li>
<li class="toctree-l1"><a class="reference internal" href="../routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../session.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../setup.html">Installing &amp; Setting up the Symfony Framework</a></li>
<li class="toctree-l1"><a class="reference internal" href="../serializer.html">How to Use the Serializer</a></li>
<li class="toctree-l1"><a class="reference internal" href="../service_container.html">Service Container</a></li>
<li class="toctree-l1"><a class="reference internal" href="../testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../translation.html">Translations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../validation.html">Validation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../web_link.html">Asset Preloading and Resource Hints with HTTP/2 and WebLink</a></li>
<li class="toctree-l1"><a class="reference internal" href="../workflow.html">Workflow</a></li>
</ul>
<ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="index.html">The Components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="using_components.html">How to Install and Use the Symfony Components</a></li>
<li class="toctree-l2"><a class="reference internal" href="asset.html">The Asset Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="browser_kit.html">The BrowserKit Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="cache.html">The Cache Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="config.html">The Config Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="console.html">The Console Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="contracts.html">The Contracts Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="css_selector.html">The CssSelector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="dependency_injection.html">The DependencyInjection Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="dom_crawler.html">The DomCrawler Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="event_dispatcher.html">The EventDispatcher Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="expression_language.html">The ExpressionLanguage Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="filesystem.html">The Filesystem Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="finder.html">The Finder Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="form.html">The Form Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="http_foundation.html">The HttpFoundation Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="http_kernel.html">The HttpKernel Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="inflector.html">The Inflector Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="intl.html">The Intl Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="ldap.html">The Ldap Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="lock.html">The Lock Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="messenger.html">The Messenger Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="mime.html">The Mime Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="options_resolver.html">The OptionsResolver Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="phpunit_bridge.html">The PHPUnit Bridge</a></li>
<li class="toctree-l2"><a class="reference internal" href="process.html">The Process Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="property_access.html">The PropertyAccess Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="property_info.html">The PropertyInfo Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="psr7.html">The PSR-7 Bridge</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">The Security Component</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#installation">Installation</a></li>
<li class="toctree-l3"><a class="reference internal" href="#learn-more">Learn More</a><ul>
<li class="toctree-l4"><a class="reference internal" href="security/authentication.html">Authentication</a></li>
<li class="toctree-l4"><a class="reference internal" href="security/authorization.html">Authorization</a></li>
<li class="toctree-l4"><a class="reference internal" href="security/firewall.html">The Firewall and Authorization</a></li>
<li class="toctree-l4"><a class="reference internal" href="security/secure_tools.html">Securely Generating Random Values</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security.html">Security</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/access_control.html">How Does the Security access_control Work?</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/access_denied_handler.html">How to Customize Access Denied Responses</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/acl.html">How to Use Access Control Lists (ACLs)</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/auth_providers.html">Built-in Authentication Providers</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/csrf.html">How to Implement CSRF Protection</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/custom_authentication_provider.html">How to Create a custom Authentication Provider</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/experimental_authenticators.html">Using the new Authenticator-based Security</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/expressions.html">Security: Complex Access Controls with Expressions</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/firewall_restriction.html">How to Restrict Firewalls to a Request</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/force_https.html">How to Force HTTPS or HTTP for different URLs</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/form_login.html">Using the form_login Authentication Provider</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/form_login_setup.html">How to Build a Login Form</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/guard_authentication.html">Custom Authentication System with Guard (API Token Example)</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/impersonating_user.html">How to Impersonate a User</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/json_login_setup.html">How to Build a JSON Authentication Endpoint</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/ldap.html">Authenticating against an LDAP server</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/login_link.html">How to use Passwordless Login Link Authentication</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/multiple_guard_authenticators.html">How to Use Multiple Guard Authenticators</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/named_encoders.html">How to Use A Different Password Encoder Algorithm Per User</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/password_migration.html">How to Migrate a Password Hash</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/remember_me.html">How to Add “Remember Me” Login Functionality</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/reset_password.html">How to Add a Reset Password Feature</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/securing_services.html">How to Secure any Service or Method in your Application</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/user_checkers.html">How to Create and Enable Custom User Checkers</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/user_provider.html">Security User Providers</a></li>
<li class="toctree-l4"><a class="reference internal" href="../security/voters.html">How to Use Voters to Check User Permissions</a></li>
<li class="toctree-l4"><a class="reference internal" href="../reference/configuration/security.html">Security Configuration Reference (SecurityBundle)</a></li>
<li class="toctree-l4"><a class="reference internal" href="../reference/constraints/UserPassword.html">UserPassword</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="semaphore.html">The Semaphore Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="serializer.html">The Serializer Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="string.html">The String Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="uid.html">The UID Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="validator.html">The Validator Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="var_dumper.html">The VarDumper Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="var_exporter.html">The VarExporter Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="workflow.html">The Workflow Component</a></li>
<li class="toctree-l2"><a class="reference internal" href="yaml.html">The Yaml Component</a></li>
</ul>
</li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../reference/index.html">Reference Documents</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../contributing/index.html">Contributing</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../create_framework/index.html">Create your own PHP Framework</a></li>
</ul>

            
          
        </div>
        
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">Symfony Framework Documentation</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html" class="icon icon-home"></a> &raquo;</li>
        
          <li><a href="index.html">The Components</a> &raquo;</li>
        
      <li>The Security Component</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/security.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="the-security-component">
<span id="index-0"></span><h1>The Security Component<a class="headerlink" href="#the-security-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Security component provides a complete security system for your web
application. It ships with facilities for authenticating using HTTP basic
authentication, interactive form login or X.509 certificate login, but also
allows you to implement your own authentication strategies. Furthermore, the
component provides ways to authorize authenticated users based on their
roles.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>The Security component is divided into several smaller sub-components which can
be used separately:</p>
<dl class="docutils">
<dt><code class="docutils literal notranslate"><span class="pre">symfony/security-core</span></code></dt>
<dd>It provides all the common security features, from authentication to
authorization and from encoding passwords to loading users.</dd>
<dt><code class="docutils literal notranslate"><span class="pre">symfony/security-http</span></code></dt>
<dd>It integrates the core sub-component with the HTTP protocol to handle HTTP
requests and responses.</dd>
<dt><code class="docutils literal notranslate"><span class="pre">symfony/security-csrf</span></code></dt>
<dd>It provides protection against <a class="reference external" href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">CSRF attacks</a>.</dd>
<dt><code class="docutils literal notranslate"><span class="pre">symfony/security-guard</span></code></dt>
<dd>It brings many layers of authentication together, allowing the creation
of complex authentication systems.</dd>
</dl>
<p>You can install each of them separately in your project:</p>
<div class="highlight-terminal notranslate"><table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="gp">$</span> composer require symfony/security-core
<span class="gp">$</span> composer require symfony/security-http
<span class="gp">$</span> composer require symfony/security-csrf
<span class="gp">$</span> composer require symfony/security-guard
</pre></div>
</td></tr></table></div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you install this component outside of a Symfony application, you must
require the <code class="docutils literal notranslate"><span class="pre">vendor/autoload.php</span></code> file in your code to enable the class
autoloading mechanism provided by Composer. Read
<a class="reference internal" href="using_components.html"><span class="doc">this article</span></a> for more details.</p>
</div>
<div class="admonition seealso">
<p class="first admonition-title">See also</p>
<p class="last">This article explains how to use the Security features as an independent
component in any PHP application. Read the <a class="reference internal" href="../security.html"><span class="doc">Security</span></a> article to learn
about how to use it in Symfony applications.</p>
</div>
</div>
<div class="section" id="learn-more">
<h2>Learn More<a class="headerlink" href="#learn-more" title="Permalink to this headline">¶</a></h2>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="security/authentication.html">Authentication</a></li>
<li class="toctree-l1"><a class="reference internal" href="security/authorization.html">Authorization</a></li>
<li class="toctree-l1"><a class="reference internal" href="security/firewall.html">The Firewall and Authorization</a></li>
<li class="toctree-l1"><a class="reference internal" href="security/secure_tools.html">Securely Generating Random Values</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/access_control.html">How Does the Security access_control Work?</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/access_denied_handler.html">How to Customize Access Denied Responses</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/acl.html">How to Use Access Control Lists (ACLs)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/auth_providers.html">Built-in Authentication Providers</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/csrf.html">How to Implement CSRF Protection</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/custom_authentication_provider.html">How to Create a custom Authentication Provider</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/experimental_authenticators.html">Using the new Authenticator-based Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/expressions.html">Security: Complex Access Controls with Expressions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/firewall_restriction.html">How to Restrict Firewalls to a Request</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/force_https.html">How to Force HTTPS or HTTP for different URLs</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/form_login.html">Using the form_login Authentication Provider</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/form_login_setup.html">How to Build a Login Form</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/guard_authentication.html">Custom Authentication System with Guard (API Token Example)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/impersonating_user.html">How to Impersonate a User</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/json_login_setup.html">How to Build a JSON Authentication Endpoint</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/ldap.html">Authenticating against an LDAP server</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/login_link.html">How to use Passwordless Login Link Authentication</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/multiple_guard_authenticators.html">How to Use Multiple Guard Authenticators</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/named_encoders.html">How to Use A Different Password Encoder Algorithm Per User</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/password_migration.html">How to Migrate a Password Hash</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/remember_me.html">How to Add “Remember Me” Login Functionality</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/reset_password.html">How to Add a Reset Password Feature</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/securing_services.html">How to Secure any Service or Method in your Application</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/user_checkers.html">How to Create and Enable Custom User Checkers</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/user_provider.html">Security User Providers</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security/voters.html">How to Use Voters to Check User Permissions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/configuration/security.html">Security Configuration Reference (SecurityBundle)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference/constraints/UserPassword.html">UserPassword</a></li>
</ul>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  

  <hr/>

  <div role="contentinfo">
    <p>
        
        &copy; Copyright 2004-2020 Fabien Potencier

    </p>
  </div>
    
    
    
    Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a
    
    <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a>
    
    provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  

  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>